{% extends 'gestion/base.html' %}
{% block content %}

        <div class="card">
            <strong>
                <br>
                &nbsp;
                &nbsp;
                {{auto.patente}}
            </strong>
            <hr>
            <div class="card-body">
                <p style="text-align: center;"><strong>ID: </strong>{{auto.id}}</p>
                <p style="text-align: center;"><strong>Patente:</strong>{{auto.patente}}</p>
                <p style="text-align: center;"><strong>Servicios relizados: </strong>{{cantidad_servicios}}</p>
            </div>
        </div>
        <br>        
        {% if servicios %}
        {% for servicio in servicios %}
                <div class="card">
                    <div class="card-title">
                        <h5><strong>Fecha: </strong>{{servicio.fecha}}</h5>
                    </div>
                    <hr>
                    <div class="card-body">
                        <h5><strong>Detalle:</strong></h5>
                        <p>{{servicio.detalle}}</p>
                    </div>
                </div>
                <br>
        {% endfor %}  
        {% else %}
            <h2>No hay servicios relacionados a esa patente.</h2>
        {% endif %}
        <br>
        <a href="{% url 'listar_autos' %}" class="btn btn-secondary">Volver</a>
        &nbsp;
        <a href="{% url 'modificar_auto' auto.id %}" class="btn btn-primary">Modificar</a>
        &nbsp;
        <a href="{% url 'eliminar_auto' auto.id %}" class="btn btn-danger">Eliminar</a>
{% endblock %}
