{% extends 'gestion/base.html' %}
{% block content %}
    <h5>Bienvenido {{user|upper}}</h5>
    <a class="btn btn-outline-primary btn-small" href="{% url 'agregar_servicio' %}">
        Agregar Servicio
    </a>
    <br>
    <br>
    <!--formulario de busqueda por patente-->
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="form-group">          
                <div class="input-group mb-3">
                    <input type="text" name='patente' class="form-control" placeholder="{{request.POST.patente}}" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </div>
            </div>
        </div>
    </form>      
    <!--fin del formulario-->    
    <hr>
    {% if servicios %}
    <table class="table table-hover table-bordered">
        <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha</th>
                <th scope="col">Vehiculo</th>
                <th scope="col">Detalle</th>
                <th scope="col">Ver</th>
            </tr>
        </thead>
        <tbody>            
            {% for servicio in servicios %}
            <tr>
                <td>{{servicio.id}}</td>
                <td>{{servicio.fecha}}</td>
                <td>{{servicio.vehiculo}}</td>
                <td>{{servicio.detalle|truncatechars:15}}</td>
                <td><a href="{% url 'detalle_servicio' servicio.id %}">detalle</a></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group">
        {% if servicios.number != 1 %}
        <a type="button" class="btn btn-secondary" href="?page=1"><<</a>
        {% endif %}
        {% if servicios.has_previous %}
        <a type="button" class="btn btn-secondary" href="?page={{servicios.previous_page_number}}">{{servicios.previous_page_number}}</a>
        {% endif %}
        <a type="button" class="btn btn-secondary" href="?page={{servicios.number}}">{{servicios.number}}</a>
        {% if servicios.has_next %}
        <a type="button" class="btn btn-secondary" href="?page={{servicios.next_page_number}}">{{servicios.next_page_number}}</a>
        {% endif %}
        <a type="button" class="btn btn-secondary" a href="?page={{servicios.num_pages}}">>></a>
    </div>
</div>
{% else %}
<h2>No hay servicios relacionados a esa patente.</h2>
    {% endif %}
    
{% endblock %}